<h2>My Blogs</h2>
{{#each images}}
    <div class="col-sm-2">
        <div class="albums">
            <div class="">
                <img src="{{this.avatar}}" alt="">
            </div>
            <div class="">
                <label for="">Nguoi dang : {{this.username}}</label>
            </div>
            <div class="">
                <label for="">title : {{this.title}}</label>
            </div>
            <div class="">
                <label for="">view : {{this.view}}</label>

            </div>
            <div class="">
                <a href="blog/{{this.id}}">chi tiet</a>
            </div>
        </div>
    </div>
{{/each}}
